/path/to/.ssh/id_rsa
/path/to/.ssh/id_rsa.pub
../../SSH key
../../SSH key.pub
/path/to/.ssh/id_rsa
/path/to/.ssh/id_rsa.pub
../../SSH key
../../SSH key.pub
../../SSH key
../../SSH key.pub
*/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
